{
  "openapi": "3.0.3",
  "info": {
    "title": "APITCG",
    "description": "Welcome to **API TCG**. The purpose of this API is to expose the card and product data of each TCG: games, sets/expansions, products (cards, sealed, accessories) and price history.\n\n![API TCG](./intro.png)\n\n## Authentication\n\nAll data endpoints require an **API key**. Getting one is free:\n\n1. Create an account at [apitcg.com/register](https://apitcg.com/register) (or sign in at [apitcg.com/login](https://apitcg.com/login)).\n2. Open the [Developer Platform](https://apitcg.com/platform) and go to **[API Key](https://apitcg.com/platform/api-key)** — your key is shown there.\n3. Send it in the `x-api-key` header on every request:\n\n```bash\ncurl 'https://api.apitcg.com/api/products?tcg=one-piece&name=luffy' \\\n  -H 'x-api-key: YOUR_API_KEY'\n```\n\nJavaScript example:\n\n```js\nconst res = await fetch(\n  'https://api.apitcg.com/api/products?tcg=one-piece&name=luffy',\n  { headers: { 'x-api-key': process.env.APITCG_API_KEY } }\n);\nconst body = await res.json();\n```\n\nYou can paste your key in the **Authentication** panel of this documentation to try endpoints live.\n\nKeep your API key secret. If you think it was exposed, write to [support@apitcg.com](mailto:support@apitcg.com).\n\n### Authentication errors\n\n| Status | Meaning |\n|--------|---------|\n| `401 Unauthorized` | Missing or invalid API key. |\n| `429 Too Many Requests` | Too many requests. |\n\n## Available TCGs\n\n| Name | Slug |\n|------|------|\n| Cardfight Vanguard | `cardfight-vanguard` |\n| Digimon | `digimon` |\n| Dragon Ball Super Fusion World | `dragon-ball-super-fusion-world` |\n| Dragon Ball Super Masters | `dragon-ball-super-masters` |\n| Flesh and Blood | `flesh-and-blood` |\n| Gundam | `gundam` |\n| hololive | `hololive` |\n| Lorcana | `lorcana` |\n| Magic | `magic` |\n| Mitos y Leyendas | `mitos-y-leyendas` |\n| One Piece | `one-piece` |\n| Pokémon | `pokemon` |\n| Riftbound | `riftbound` |\n| Star Wars Unlimited | `star-wars-unlimited` |\n| Union Arena | `union-arena` |\n| Yu-Gi-Oh | `yugioh` |\n\nUse the **slug** as the `{tcg}` value in the routes (e.g. `/api/one-piece/sets`) and in the `?tcg=` filter for products.\n\n## How to use\n\nSearch products by combining filters, for example:\n\n```\nGET /api/products?tcg=one-piece&type=card&name=luffy\n```\n\nThe `tcg` and `set` references come back as **full documents**, not as IDs — you do not need `populate` for them. The slug/ID of each one is its `_id`.\n\n## Product attributes\n\nApart from the fixed fields (`name`, `images`, `markets`…), every product carries an `attributes` object: a map of strings whose **keys depend on the game**. A Lorcana card has `Cost Ink` and `Lore Value`; a Magic card has `OracleText`, `P` and `T`. Values may contain light HTML (`<em>`, `<strong>`, `<br>`), because that is how the source publishes them.\n\nTwo keys are worth calling out:\n\n- **`Artist`** — on a `card`, the illustrator of the card.\n- **`Description`** — on a `card`, its rules text; on a `sealed` product, the description of the product (what the box contains, print run notes, etc.).\n\n### Artist\n\n`attributes.Artist` holds the illustrator of the card. It is filled in progressively, so **not every card has it**:\n\n- **Games that publish the artist:** `digimon`, `flesh-and-blood`, `gundam`, `lorcana`, `magic`, `one-piece`, `pokemon`, `riftbound`, `star-wars-unlimited`.\n- **Games that do not publish it:** `cardfight-vanguard`, `dragon-ball-super-fusion-world`, `dragon-ball-super-masters`, `hololive`, `mitos-y-leyendas`, `union-arena`, `yugioh`.\n\nEven in the games that do publish it the coverage is not 100% (in `pokemon` and `gundam` it sits above half the catalog), so treat `Artist` as an optional key: check for it before reading it.\n\nThere is no `?artist=` filter — the field travels inside `attributes`.\n\n### Sealed product descriptions\n\n`attributes.Description` on a `type: \"sealed\"` product is the description of the sealed product itself. Most of the sealed catalog already has it:\n\n```\nGET /api/products?tcg=pokemon&type=sealed&limit=1\n```\n\n```json\n{\n  \"_id\": 50733,\n  \"type\": \"sealed\",\n  \"name\": \"10th Movie Commemoration Set\",\n  \"attributes\": {\n    \"Description\": \"To commemorate the 10th Pokémon movie release in Japan, a special card album was released containing 11 cards…\"\n  }\n}\n```\n\n## Pagination\n\n- `limit` — number of results per query (maximum `100`, default `25`).\n- `page` — the page you want to show of the total results.\n\nExample: `/api/products?tcg=pokemon&name=charizard&limit=50&page=2`\n\n## Showcase\n\nList of websites people are building with API TCG:\n\n1. [tcgmatch.cl](https://tcgmatch.cl)\n2. [Search Piece](https://search-piece.vercel.app/)\n\nWant to add your site? Open a pull request on [docs.apitcg.com](https://github.com/apitcg/docs.apitcg.com).\n\n## Questions\n\nIf you have any questions, you can write to: [support@apitcg.com](mailto:support@apitcg.com)",
    "version": "1.0.0",
    "contact": {
      "name": "API TCG Support",
      "email": "support@apitcg.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apitcg.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "API status"
    },
    {
      "name": "TCGs",
      "description": "Available trading card games"
    },
    {
      "name": "Sets",
      "description": "Sets/expansions within a TCG"
    },
    {
      "name": "Products",
      "description": "Products (cards, sealed products and accessories)"
    },
    {
      "name": "History Prices",
      "description": "Product price history"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Checks that the API is up and returns version information.",
        "operationId": "healthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "API is running correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "APITCG funcionando correctamente"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/tcgs": {
      "get": {
        "tags": [
          "TCGs"
        ],
        "summary": "List all TCGs",
        "description": "Returns the list of registered trading card games. Each TCG's `_id` is its **slug**, used across the other routes.",
        "operationId": "listTcgs",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "List of TCGs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TCG"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Number of TCGs returned (this endpoint does not paginate).",
                      "example": 16
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "_id": "one-piece",
                      "name": "One Piece",
                      "description": "One Piece Card Game",
                      "markets": {
                        "tcgplayer": {
                          "id": "68"
                        },
                        "tcgmatch": {
                          "id": "one-piece"
                        }
                      },
                      "createdAt": "2026-03-25T21:08:50.388Z",
                      "updatedAt": "2026-03-25T23:46:15.889Z"
                    },
                    {
                      "_id": "riftbound",
                      "name": "Riftbound",
                      "description": "Riftbound TCG",
                      "logo": "https://www.laughingdragonevents.com/wp-content/uploads/2025/10/Riftbound_Logo_HeroTextured_RGB.png",
                      "markets": {
                        "tcgplayer": {
                          "id": "89"
                        },
                        "tcgmatch": {
                          "id": "riftbound"
                        }
                      },
                      "createdAt": "2026-03-25T21:08:50.330Z",
                      "updatedAt": "2026-03-25T23:46:16.941Z"
                    }
                  ],
                  "total": 2
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/tcgs/{id}": {
      "get": {
        "tags": [
          "TCGs"
        ],
        "summary": "Get a TCG by ID",
        "description": "Returns a TCG by its `_id` (slug).",
        "operationId": "getTcgById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TCG slug.",
            "schema": {
              "type": "string"
            },
            "example": "one-piece"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested TCG.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/TCG"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/{tcg}/sets": {
      "get": {
        "tags": [
          "Sets"
        ],
        "summary": "List the sets of a TCG",
        "description": "Returns all sets/expansions of the given TCG.",
        "operationId": "listSets",
        "parameters": [
          {
            "$ref": "#/components/parameters/TcgSlug"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "name": "populate",
            "in": "query",
            "description": "If set to `tcg`, includes the full TCG document instead of just its ID.",
            "schema": {
              "type": "string",
              "enum": [
                "tcg"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sets for the TCG.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Set"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Number of sets returned (this endpoint does not paginate).",
                      "example": 12
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "_id": "riftbound-origins",
                      "name": "Origins",
                      "slug": "origins",
                      "tcg": "riftbound",
                      "code": "OGN",
                      "release_date": "2025-10-31T00:00:00.000Z",
                      "markets": {
                        "tcgplayer": {
                          "id": "24344"
                        },
                        "tcgmatch": {
                          "id": "riftbound-origins"
                        }
                      },
                      "createdAt": "2026-03-25T21:08:52.225Z",
                      "updatedAt": "2026-08-14T00:00:01.398Z"
                    }
                  ],
                  "total": 1
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/{tcg}/sets/{id}": {
      "get": {
        "tags": [
          "Sets"
        ],
        "summary": "Get a set by ID within a TCG",
        "description": "Returns a set by its `_id` within the given TCG.",
        "operationId": "getSetById",
        "parameters": [
          {
            "$ref": "#/components/parameters/TcgSlug"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Set ID (composed slug).",
            "schema": {
              "type": "string"
            },
            "example": "riftbound-origins-proving-grounds"
          },
          {
            "name": "populate",
            "in": "query",
            "description": "If set to `tcg`, includes the full TCG document.",
            "schema": {
              "type": "string",
              "enum": [
                "tcg"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Set"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List products (cards, sealed, accessories)",
        "description": "Returns products with combinable filters. If you search by `name` and there is no exact match, a partial fallback search kicks in and the response includes `fallback: true`.\n\nThe `tcg` and `set` references always come back as **full documents** — you do not need `populate` for them.\n\n### Examples\n\n- Search cards by name:\n\n```\nGET /api/products?tcg=one-piece&name=luffy\n```\n\n- Search by card code:\n\n```\nGET /api/products?code=OP03-070\n```\n\n- Cards of a TCG with pagination and sorting:\n\n```\nGET /api/products?tcg=pokemon&type=card&name=charizard&limit=50&page=2\n```\n\n- Sealed products of a TCG (their description travels in `attributes.Description`):\n\n```\nGET /api/products?tcg=riftbound&type=sealed\n```\n\n- The illustrator of a card is in `attributes.Artist`, when the game publishes it:\n\n```\nGET /api/products?tcg=lorcana&type=card&name=elsa\n```\n\nSee [Product attributes](#description/product-attributes) for what `attributes` carries.",
        "operationId": "listProducts",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by product type. The catalog currently holds `card` and `sealed` products.",
            "schema": {
              "type": "string",
              "enum": [
                "card",
                "sealed",
                "accessory",
                "other"
              ]
            }
          },
          {
            "name": "tcg",
            "in": "query",
            "description": "Filter by TCG (slug — see the list of available TCGs).",
            "schema": {
              "type": "string"
            },
            "example": "one-piece"
          },
          {
            "name": "set",
            "in": "query",
            "description": "Filter by set (set ID/slug).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serie",
            "in": "query",
            "description": "Filter by series (series ID). Series are not in use in the current catalog.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Search by name (case-insensitive).",
            "schema": {
              "type": "string"
            },
            "example": "luffy"
          },
          {
            "name": "code",
            "in": "query",
            "description": "Search by card code.",
            "schema": {
              "type": "string"
            },
            "example": "OP03-070"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Only products updated since this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "populate",
            "in": "query",
            "description": "Comma-separated references to include as full documents. Allowed values: `tcg`, `set`, `serie`. `tcg` and `set` already come populated by default, so in practice you only need this for `serie`.",
            "schema": {
              "type": "string"
            },
            "example": "serie"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of products.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 128
                    },
                    "fallback": {
                      "type": "boolean",
                      "description": "Present and `true` only when the partial name fallback search was used."
                    }
                  }
                },
                "examples": {
                  "card": {
                    "summary": "Card (attributes.Artist)",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "_id": 9804,
                          "type": "card",
                          "name": "Monkey.D.Luffy",
                          "tcg": {
                            "_id": "one-piece",
                            "name": "One Piece",
                            "description": "One Piece Card Game",
                            "markets": {
                              "tcgplayer": {
                                "id": "68"
                              },
                              "tcgmatch": {
                                "id": "one-piece"
                              }
                            }
                          },
                          "set": {
                            "_id": "one-piece-pillars-of-strength",
                            "name": "Pillars of Strength",
                            "slug": "pillars-of-strength",
                            "tcg": "one-piece",
                            "code": "OP03",
                            "release_date": "2023-06-30T00:00:00.000Z",
                            "markets": {
                              "tcgplayer": {
                                "id": "22890"
                              },
                              "tcgmatch": {
                                "id": "one-piece-pillars-of-strength"
                              }
                            }
                          },
                          "code": "OP03-070",
                          "images": [
                            {
                              "small": "https://tcgplayer-cdn.tcgplayer.com/product/500009_200w.jpg",
                              "medium": "https://tcgplayer-cdn.tcgplayer.com/product/500009_400w.jpg",
                              "large": "https://tcgplayer-cdn.tcgplayer.com/product/500009_in_1000x1000.jpg"
                            }
                          ],
                          "attributes": {
                            "Rarity": "R",
                            "Number": "OP03-070",
                            "Description": "[On Play] DON!! -1 <em>(You may return the specified number of DON!! cards from your field to your DON!! deck.)</em> <strong>You may trash 1 Character card with a cost of 5 from your hand</strong>: This Character gains [Rush] during this turn. <em>(This card can attack on the turn in which it is played.)</em>",
                            "Color": "Purple",
                            "CardType": "Character",
                            "Cost": "6",
                            "Power": "7000",
                            "Subtypes": "Straw Hat Crew;Water Seven",
                            "Attribute": "Strike",
                            "Artist": "Nekobayashi"
                          },
                          "markets": {
                            "tcgplayer": {
                              "id": "500009",
                              "url": "https://www.tcgplayer.com/product/500009/one-piece-card-game-pillars-of-strength-monkeydluffy",
                              "prices": {
                                "low": 0.1,
                                "mid": 0.35,
                                "high": 100,
                                "market": 0.29
                              }
                            }
                          },
                          "createdAt": "2026-03-25T22:37:10.800Z",
                          "updatedAt": "2026-08-14T01:12:32.376Z"
                        }
                      ],
                      "total": 3
                    }
                  },
                  "sealed": {
                    "summary": "Sealed product (attributes.Description)",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "_id": 50733,
                          "type": "sealed",
                          "name": "10th Movie Commemoration Set",
                          "tcg": {
                            "_id": "pokemon",
                            "name": "Pokémon",
                            "description": "Pokémon TCG",
                            "markets": {
                              "tcgplayer": {
                                "id": "3"
                              },
                              "tcgmatch": {
                                "id": "pokemon"
                              }
                            }
                          },
                          "set": {
                            "_id": "pokemon-miscellaneous-cards-products",
                            "name": "Miscellaneous Cards & Products",
                            "slug": "miscellaneous-cards-products",
                            "tcg": "pokemon",
                            "code": "MCAP",
                            "markets": {
                              "tcgplayer": {
                                "id": "2374"
                              },
                              "tcgmatch": {
                                "id": "pokemon-miscellaneous-cards-products"
                              }
                            }
                          },
                          "images": [
                            {
                              "small": "https://tcgplayer-cdn.tcgplayer.com/product/266002_200w.jpg",
                              "medium": "https://tcgplayer-cdn.tcgplayer.com/product/266002_400w.jpg",
                              "large": "https://tcgplayer-cdn.tcgplayer.com/product/266002_in_1000x1000.jpg"
                            }
                          ],
                          "attributes": {
                            "Description": "<strong>Please Note: The product you receive will be in Japanese. Japanese cards from this product are <em>Not Tournament Legal</em> in English Pokemon TCG Tournaments.</strong>\r\n<br><br>To commemorate the 10th Pokémon movie release in Japan, a special card album was released containing 11 cards with central Pokémon from the previous nine movies.",
                            "CardText": "<strong>Please Note: The product you receive will be in Japanese. Japanese cards from this product are <em>Not Tournament Legal</em> in English Pokemon TCG Tournaments.</strong>\r\n<br><br>To commemorate the 10th Pokémon movie release in Japan, a special card album was released containing 11 cards with central Pokémon from the previous nine movies."
                          },
                          "markets": {
                            "tcgplayer": {
                              "id": "266002",
                              "url": "https://www.tcgplayer.com/product/266002/pokemon-miscellaneous-cards-and-products-"
                            }
                          },
                          "createdAt": "2026-03-25T22:39:10.966Z",
                          "updatedAt": "2026-08-14T00:17:55.139Z"
                        }
                      ],
                      "total": 4740
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/products/{id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get a product by ID",
        "description": "Returns a product by its numeric (auto-incremental) `_id`.",
        "operationId": "getProductById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Numeric product ID.",
            "schema": {
              "type": "integer"
            },
            "example": 1024
          },
          {
            "name": "populate",
            "in": "query",
            "description": "Comma-separated references to include as full documents. Allowed values: `tcg`, `set`, `serie`. `tcg` and `set` already come populated by default.",
            "schema": {
              "type": "string"
            },
            "example": "serie"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested product.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/history-prices/{productId}": {
      "get": {
        "tags": [
          "History Prices"
        ],
        "summary": "Price history of a product",
        "description": "Returns the daily price history of a product, sorted by date descending. Each record carries the prices of every market under `markets`.",
        "operationId": "getHistoryPrices",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "Numeric product ID.",
            "schema": {
              "type": "integer"
            },
            "example": 1024
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price history (plain array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryPrice"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your personal API key from [apitcg.com/platform/api-key](https://apitcg.com/platform/api-key). Create a free account at [apitcg.com/register](https://apitcg.com/register)."
      }
    },
    "parameters": {
      "TcgSlug": {
        "name": "tcg",
        "in": "path",
        "required": true,
        "description": "TCG slug (see the list of available TCGs in the introduction).",
        "schema": {
          "type": "string",
          "enum": [
            "cardfight-vanguard",
            "digimon",
            "dragon-ball-super-fusion-world",
            "dragon-ball-super-masters",
            "flesh-and-blood",
            "gundam",
            "hololive",
            "lorcana",
            "magic",
            "mitos-y-leyendas",
            "one-piece",
            "pokemon",
            "riftbound",
            "star-wars-unlimited",
            "union-arena",
            "yugioh"
          ]
        },
        "example": "one-piece"
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of results to return (1-100).",
        "schema": {
          "type": "integer",
          "default": 25,
          "minimum": 1,
          "maximum": 100
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "description": "Results page to show.",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "SortBy": {
        "name": "sortBy",
        "in": "query",
        "description": "Field to sort the results by.",
        "schema": {
          "type": "string",
          "default": "name"
        }
      },
      "SortOrder": {
        "name": "sortOrder",
        "in": "query",
        "description": "Sort direction.",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "asc"
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "error": {
                  "type": "string"
                }
              }
            },
            "example": {
              "success": false,
              "error": "Producto no encontrado"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "success": false,
              "error": "API key is required, register into: https://apitcg.com/platform"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too many requests.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "success": false,
              "error": "Request limit reached for this month."
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "error": {
                  "type": "string"
                }
              }
            },
            "example": {
              "success": false,
              "error": "Internal error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          }
        },
        "x-internal": true
      },
      "TCG": {
        "type": "object",
        "description": "Trading card game. The `_id` is a slug generated from the name.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "TCG slug.",
            "example": "one-piece"
          },
          "name": {
            "type": "string",
            "example": "One Piece"
          },
          "description": {
            "type": "string"
          },
          "logo": {
            "type": "string",
            "description": "TCG logo URL."
          },
          "markets": {
            "type": "object",
            "properties": {
              "tcgplayer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "68"
                  }
                }
              },
              "tcgmatch": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "x-internal": true
      },
      "Set": {
        "type": "object",
        "description": "Set/expansion within a TCG. The `_id` is composed as `{tcg}-{slug}`.",
        "properties": {
          "_id": {
            "type": "string",
            "example": "riftbound-origins-proving-grounds"
          },
          "name": {
            "type": "string",
            "example": "Origins: Proving Grounds"
          },
          "slug": {
            "type": "string",
            "example": "origins-proving-grounds"
          },
          "tcg": {
            "type": "string",
            "description": "Slug of the TCG it belongs to (or the full document when using `populate=tcg`).",
            "example": "riftbound"
          },
          "serie": {
            "type": "string",
            "description": "ID of the series it belongs to (optional)."
          },
          "release_date": {
            "type": "string",
            "format": "date-time"
          },
          "code": {
            "type": "string",
            "description": "Official set code (optional).",
            "example": "OGN"
          },
          "logo": {
            "type": "string",
            "description": "Set logo URL."
          },
          "markets": {
            "type": "object",
            "properties": {
              "tcgplayer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "24219"
                  }
                }
              },
              "tcgmatch": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "x-internal": true
      },
      "Product": {
        "type": "object",
        "description": "Product resource. Fields marked (Card), (Sealed) or (Accessory) only apply to that product type. The catalog currently holds `card` and `sealed` products; fields marked _(not in use)_ exist in the model but the catalog does not fill them today.",
        "properties": {
          "_id": {
            "type": "integer",
            "description": "Auto-incremental numeric ID.",
            "example": 1024
          },
          "type": {
            "type": "string",
            "enum": [
              "card",
              "sealed",
              "accessory",
              "other"
            ],
            "description": "Product type. The catalog currently holds `card` and `sealed` products."
          },
          "name": {
            "type": "string",
            "example": "Monkey.D.Luffy"
          },
          "description": {
            "type": "string",
            "description": "Top-level product description _(not in use)_. The description of a sealed product travels in `attributes.Description`."
          },
          "tcg": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TCG"
              }
            ],
            "description": "TCG the product belongs to. The API returns the **full document**; its `_id` is the slug (e.g. `one-piece`)."
          },
          "serie": {
            "type": "string",
            "description": "Series ID (or the full document with `populate=serie`) _(not in use)_."
          },
          "set": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Set"
              }
            ],
            "description": "Set the product belongs to. The API returns the **full document**; its `_id` is the set ID (e.g. `one-piece-pillars-of-strength`). Absent or `null` when the product is not linked to a set."
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "small": {
                  "type": "string"
                },
                "medium": {
                  "type": "string"
                },
                "large": {
                  "type": "string"
                }
              }
            }
          },
          "dimensions": {
            "type": "object",
            "description": "Physical dimensions of the product _(not in use)_.",
            "properties": {
              "unit": {
                "type": "string",
                "enum": [
                  "cm",
                  "mm",
                  "in",
                  "m"
                ]
              },
              "height": {
                "type": "number",
                "minimum": 0
              },
              "width": {
                "type": "number",
                "minimum": 0
              },
              "length": {
                "type": "number",
                "minimum": 0
              }
            }
          },
          "weight": {
            "type": "number",
            "minimum": 0,
            "description": "Weight in grams _(not in use)_."
          },
          "release_date": {
            "type": "string",
            "format": "date-time",
            "description": "Release date of the product _(not in use)_. The release date of the set is in `set.release_date`."
          },
          "markets": {
            "type": "object",
            "description": "Product data and IDs on external markets.",
            "properties": {
              "tcgplayer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "453022"
                  },
                  "url": {
                    "type": "string"
                  },
                  "prices": {
                    "type": "object",
                    "properties": {
                      "low": {
                        "type": "number",
                        "example": 0.15
                      },
                      "mid": {
                        "type": "number",
                        "example": 0.35
                      },
                      "high": {
                        "type": "number",
                        "example": 2.5
                      },
                      "market": {
                        "type": "number",
                        "example": 0.31
                      }
                    }
                  }
                }
              },
              "tcgmatch": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "prices": {
                    "type": "object",
                    "properties": {
                      "low": {
                        "type": "number",
                        "example": 0.15
                      },
                      "mid": {
                        "type": "number",
                        "example": 0.35
                      },
                      "high": {
                        "type": "number",
                        "example": 2.5
                      },
                      "market": {
                        "type": "number",
                        "example": 0.31
                      }
                    }
                  }
                }
              }
            }
          },
          "code": {
            "type": "string",
            "description": "(Card) Card code.",
            "example": "OP03-070"
          },
          "cardNumber": {
            "type": "string",
            "description": "(Card) Card number within the set _(not in use)_. The number travels in `attributes.Number`."
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Dynamic attributes of the product. The keys depend on the game (see [Product attributes](#description/product-attributes)); values may contain light HTML.\n\n- **(Card)** `Artist` — illustrator of the card, when the game publishes it.\n- **(Card)** `Description` — the rules text of the card.\n- **(Sealed)** `Description` — the description of the sealed product.",
            "example": {
              "Rarity": "R",
              "Number": "OP03-070",
              "Color": "Purple",
              "CardType": "Character",
              "Power": "7000",
              "Artist": "Nekobayashi"
            }
          },
          "sealed_type": {
            "type": "string",
            "description": "(Sealed) Sealed product subtype _(not in use)_.",
            "enum": [
              "booster_box",
              "booster_pack",
              "starter_deck",
              "theme_deck",
              "structure_deck",
              "blister",
              "tin",
              "collection_box",
              "elite_trainer_box",
              "bundle",
              "prerelease_kit",
              "other"
            ]
          },
          "status": {
            "type": "string",
            "description": "(Accessory) Accessory condition _(not in use)_.",
            "enum": [
              "new",
              "used"
            ]
          },
          "accesory_type": {
            "type": "string",
            "description": "(Accessory) Accessory subtype _(not in use)_.",
            "enum": [
              "deckbox",
              "double_deckbox",
              "playmat",
              "sleeve",
              "binder",
              "storage_box",
              "dice",
              "toploader",
              "bag",
              "other"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "x-internal": true
      },
      "HistoryPrice": {
        "type": "object",
        "description": "Daily price record of a product across markets.",
        "properties": {
          "_id": {
            "type": "string"
          },
          "product": {
            "type": "string",
            "description": "Product ID.",
            "example": "1024"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Record day (normalized to midnight)."
          },
          "markets": {
            "type": "object",
            "properties": {
              "tcgplayer": {
                "type": "object",
                "properties": {
                  "prices": {
                    "type": "object",
                    "properties": {
                      "low": {
                        "type": "number",
                        "example": 0.15
                      },
                      "mid": {
                        "type": "number",
                        "example": 0.35
                      },
                      "high": {
                        "type": "number",
                        "example": 2.5
                      },
                      "market": {
                        "type": "number",
                        "example": 0.31
                      }
                    }
                  }
                }
              },
              "tcgmatch": {
                "type": "object",
                "properties": {
                  "prices": {
                    "type": "object",
                    "properties": {
                      "low": {
                        "type": "number",
                        "example": 0.15
                      },
                      "mid": {
                        "type": "number",
                        "example": 0.35
                      },
                      "high": {
                        "type": "number",
                        "example": 2.5
                      },
                      "market": {
                        "type": "number",
                        "example": 0.31
                      }
                    }
                  }
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "x-internal": true
      }
    }
  }
}
