{
  "openapi": "3.0.3",
  "info": {
    "title": "APITCG",
    "description": "Bienvenido a **API TCG**. El propósito de esta API es exponer los datos de cartas y productos de cada TCG: juegos, sets/expansiones, productos (cartas, sellados, accesorios) e historial de precios.\n\n![API TCG](./intro.png)\n\n## TCGs disponibles\n\n| Nombre | Slug |\n|------|------|\n| Digimon | `digimon` |\n| Dragon Ball Super Fusion World | `dragon-ball-super-fusion-world` |\n| Flesh and Blood | `flesh-and-blood` |\n| Gundam | `gundam` |\n| Lorcana | `lorcana` |\n| Magic | `magic` |\n| Mitos y Leyendas | `mitos-y-leyendas` |\n| One Piece | `one-piece` |\n| Pokémon | `pokemon` |\n| Riftbound | `riftbound` |\n| Selva TCG | `selva-tcg` |\n| Star Wars Unlimited | `star-wars-unlimited` |\n| Union Arena | `union-arena` |\n| Yu-Gi-Oh! | `yugioh` |\n\nUsa el **slug** como valor de `{tcg}` en las rutas (ej. `/api/one-piece/sets`) y en el filtro `?tcg=` de productos.\n\n## Cómo usar\n\nBusca productos combinando filtros, por ejemplo:\n\n```\nGET /api/products?tcg=one-piece&type=card&name=luffy\n```\n\n## Paginación\n\n- `limit` — número de resultados por consulta (máximo `100`, por defecto `25`).\n- `page` — página a mostrar del total de resultados.\n\nEjemplo: `/api/products?tcg=pokemon&name=charizard&limit=50&page=2`\n\n## Showcase\n\nSitios web que la comunidad está construyendo con API TCG:\n\n1. [tcgmatch.cl](https://tcgmatch.cl)\n2. [Search Piece](https://search-piece.vercel.app/)\n\n¿Quieres añadir tu sitio? Abre un pull request en [docs.apitcg.com](https://github.com/apitcg/docs.apitcg.com).\n\n## Preguntas\n\nSi tienes cualquier pregunta, escribe a: [iturra.sebastian@hotmail.com](mailto:iturra.sebastian@hotmail.com)",
    "version": "1.0.0",
    "contact": {
      "name": "Sebastián Iturra",
      "email": "iturra.sebastian@hotmail.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apitcg.com",
      "description": "Producción"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Estado de la API"
    },
    {
      "name": "TCGs",
      "description": "Juegos de cartas coleccionables disponibles"
    },
    {
      "name": "Sets",
      "description": "Sets/expansiones dentro de un TCG"
    },
    {
      "name": "Products",
      "description": "Productos (cartas, sellados, accesorios) — modelo unificado"
    },
    {
      "name": "History Prices",
      "description": "Historial de precios de productos"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["Health"],
        "summary": "Health check",
        "description": "Verifica que la API esté funcionando y retorna información de versión.",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "API funcionando correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "APITCG funcionando correctamente"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    },
                    "endpoints": {
                      "type": "object",
                      "properties": {
                        "sets": { "type": "string", "example": "/api/sets" },
                        "tcgs": { "type": "string", "example": "/api/tcgs" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/tcgs": {
      "get": {
        "tags": ["TCGs"],
        "summary": "Listar todos los TCGs",
        "description": "Retorna la lista de juegos de cartas coleccionables registrados. El `_id` de cada TCG es su **slug**, usado en el resto de las rutas.",
        "operationId": "listTcgs",
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/SortBy" },
          { "$ref": "#/components/parameters/SortOrder" }
        ],
        "responses": {
          "200": {
            "description": "Lista de TCGs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TCG" }
                    },
                    "total": { "type": "integer", "example": 14 }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "_id": "one-piece",
                      "name": "One Piece",
                      "markets": { "tcgplayer": { "id": "68" } },
                      "createdAt": "2026-01-15T10:00:00.000Z",
                      "updatedAt": "2026-01-15T10:00:00.000Z"
                    },
                    {
                      "_id": "riftbound",
                      "name": "Riftbound",
                      "markets": { "tcgplayer": { "id": "89" } },
                      "createdAt": "2026-01-15T10:00:00.000Z",
                      "updatedAt": "2026-01-15T10:00:00.000Z"
                    }
                  ],
                  "total": 2
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/tcgs/{id}": {
      "get": {
        "tags": ["TCGs"],
        "summary": "Obtener un TCG por ID",
        "description": "Retorna un TCG por su `_id` (slug).",
        "operationId": "getTcgById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Slug del TCG.",
            "schema": { "type": "string" },
            "example": "one-piece"
          }
        ],
        "responses": {
          "200": {
            "description": "El TCG solicitado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/TCG" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/{tcg}/sets": {
      "get": {
        "tags": ["Sets"],
        "summary": "Listar los sets de un TCG",
        "description": "Retorna todos los sets/expansiones del TCG indicado.",
        "operationId": "listSets",
        "parameters": [
          { "$ref": "#/components/parameters/TcgSlug" },
          { "$ref": "#/components/parameters/SortBy" },
          { "$ref": "#/components/parameters/SortOrder" },
          {
            "name": "populate",
            "in": "query",
            "description": "Si es `tcg`, incluye el documento completo del TCG en lugar de solo su ID.",
            "schema": { "type": "string", "enum": ["tcg"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de sets del TCG.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Set" }
                    },
                    "total": { "type": "integer", "example": 12 }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "_id": "riftbound-origins-proving-grounds",
                      "name": "Origins: Proving Grounds",
                      "slug": "origins-proving-grounds",
                      "tcg": "riftbound",
                      "release_date": "2025-10-31T00:00:00.000Z",
                      "markets": { "tcgplayer": { "id": "24219" } },
                      "createdAt": "2026-01-15T10:00:00.000Z",
                      "updatedAt": "2026-01-15T10:00:00.000Z"
                    }
                  ],
                  "total": 1
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/{tcg}/sets/{id}": {
      "get": {
        "tags": ["Sets"],
        "summary": "Obtener un set por ID dentro de un TCG",
        "description": "Retorna un set por su `_id` dentro del TCG indicado.",
        "operationId": "getSetById",
        "parameters": [
          { "$ref": "#/components/parameters/TcgSlug" },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID (slug compuesto) del set.",
            "schema": { "type": "string" },
            "example": "riftbound-origins-proving-grounds"
          },
          {
            "name": "populate",
            "in": "query",
            "description": "Si es `tcg`, incluye el documento completo del TCG.",
            "schema": { "type": "string", "enum": ["tcg"] }
          }
        ],
        "responses": {
          "200": {
            "description": "El set solicitado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/Set" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/products": {
      "get": {
        "tags": ["Products"],
        "summary": "Listar productos (cartas, sellados, accesorios)",
        "description": "Retorna productos bajo el modelo unificado, con filtros combinables. Si buscas por `name` y no hay coincidencia exacta, se activa una búsqueda parcial de respaldo y la respuesta incluye `fallback: true`.\n\n### Ejemplos\n\n- Buscar cartas por nombre:\n\n```\nGET /api/products?tcg=one-piece&name=luffy\n```\n\n- Buscar por código de carta:\n\n```\nGET /api/products?code=OP03-070\n```\n\n- Cartas de un TCG con paginación y orden:\n\n```\nGET /api/products?tcg=pokemon&type=card&name=charizard&limit=50&page=2\n```\n\n- Productos sellados de un TCG:\n\n```\nGET /api/products?tcg=riftbound&type=sealed\n```\n\n- Poblando referencias (`tcg` y `set` como documento completo):\n\n```\nGET /api/products?tcg=one-piece&name=luffy&populate=tcg,set\n```",
        "operationId": "listProducts",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filtrar por tipo de producto.",
            "schema": {
              "type": "string",
              "enum": ["card", "sealed", "accessory", "other"]
            }
          },
          {
            "name": "tcg",
            "in": "query",
            "description": "Filtrar por TCG (slug — ver la lista de TCGs disponibles).",
            "schema": { "type": "string" },
            "example": "one-piece"
          },
          {
            "name": "set",
            "in": "query",
            "description": "Filtrar por set (ID/slug del set).",
            "schema": { "type": "string" }
          },
          {
            "name": "serie",
            "in": "query",
            "description": "Filtrar por serie.",
            "schema": { "type": "string" }
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Filtrar por marca (accesorios).",
            "schema": { "type": "string" }
          },
          {
            "name": "event",
            "in": "query",
            "description": "Filtrar por evento (accesorios).",
            "schema": { "type": "string" }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Búsqueda por nombre (insensible a mayúsculas).",
            "schema": { "type": "string" },
            "example": "luffy"
          },
          {
            "name": "code",
            "in": "query",
            "description": "Buscar por código de carta.",
            "schema": { "type": "string" },
            "example": "OP03-070"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Solo productos actualizados desde esta fecha (ISO 8601).",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "populate",
            "in": "query",
            "description": "Referencias a incluir como documento completo, separadas por coma. Valores permitidos: `tcg`, `set`, `serie`, `brand`, `event`.",
            "schema": { "type": "string" },
            "example": "tcg,set"
          },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/SortBy" },
          { "$ref": "#/components/parameters/SortOrder" }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada de productos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Product" }
                    },
                    "total": { "type": "integer", "example": 128 },
                    "fallback": {
                      "type": "boolean",
                      "description": "Presente y `true` solo cuando se usó la búsqueda parcial de respaldo por nombre."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "_id": 1024,
                      "type": "card",
                      "name": "Monkey.D.Luffy",
                      "tcg": "one-piece",
                      "set": "one-piece-pillars-of-strength",
                      "code": "OP03-070",
                      "cardNumber": "070",
                      "attributes": {
                        "Rarity": "R",
                        "Color": "Purple",
                        "Power": "7000"
                      },
                      "images": [
                        {
                          "small": "https://example.com/images/OP03-070-small.png",
                          "large": "https://example.com/images/OP03-070-large.png"
                        }
                      ],
                      "markets": {
                        "tcgplayer": {
                          "id": "453022",
                          "url": "https://www.tcgplayer.com/product/453022",
                          "prices": {
                            "low": 0.15,
                            "mid": 0.35,
                            "high": 2.5,
                            "market": 0.31
                          }
                        }
                      },
                      "createdAt": "2026-01-15T10:00:00.000Z",
                      "updatedAt": "2026-06-01T08:30:00.000Z"
                    }
                  ],
                  "total": 61
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/products/{id}": {
      "get": {
        "tags": ["Products"],
        "summary": "Obtener un producto por ID",
        "description": "Retorna un producto por su `_id` numérico (autoincremental).",
        "operationId": "getProductById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID numérico del producto.",
            "schema": { "type": "integer" },
            "example": 1024
          },
          {
            "name": "populate",
            "in": "query",
            "description": "Referencias a incluir como documento completo, separadas por coma. Valores permitidos: `tcg`, `set`, `serie`, `brand`, `event`.",
            "schema": { "type": "string" },
            "example": "tcg,set"
          }
        ],
        "responses": {
          "200": {
            "description": "El producto solicitado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/Product" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/history-prices/{productId}": {
      "get": {
        "tags": ["History Prices"],
        "summary": "Historial de precios de un producto",
        "description": "Retorna el historial diario de precios de un producto, ordenado por fecha descendente.",
        "operationId": "getHistoryPrices",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "ID numérico del producto.",
            "schema": { "type": "integer" },
            "example": 1024
          },
          {
            "name": "market",
            "in": "query",
            "description": "Filtrar por mercado.",
            "schema": { "type": "string", "enum": ["tcgplayer", "tcgmatch"] }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Fecha inicial (ISO 8601).",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Fecha final (ISO 8601).",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Número máximo de registros.",
            "schema": { "type": "integer", "default": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Historial de precios (array plano).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/HistoryPrice" }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "TcgSlug": {
        "name": "tcg",
        "in": "path",
        "required": true,
        "description": "Slug del TCG (ver la lista de TCGs disponibles en la introducción).",
        "schema": {
          "type": "string",
          "enum": [
            "digimon",
            "dragon-ball-super-fusion-world",
            "flesh-and-blood",
            "gundam",
            "lorcana",
            "magic",
            "mitos-y-leyendas",
            "one-piece",
            "pokemon",
            "riftbound",
            "selva-tcg",
            "star-wars-unlimited",
            "union-arena",
            "yugioh"
          ]
        },
        "example": "one-piece"
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Número máximo de resultados a retornar (1-100).",
        "schema": {
          "type": "integer",
          "default": 25,
          "minimum": 1,
          "maximum": 100
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "description": "Página de resultados a mostrar.",
        "schema": { "type": "integer", "default": 1, "minimum": 1 }
      },
      "SortBy": {
        "name": "sortBy",
        "in": "query",
        "description": "Campo por el cual ordenar los resultados.",
        "schema": { "type": "string", "default": "name" }
      },
      "SortOrder": {
        "name": "sortOrder",
        "in": "query",
        "description": "Dirección del ordenamiento.",
        "schema": { "type": "string", "enum": ["asc", "desc"], "default": "asc" }
      }
    },
    "responses": {
      "NotFound": {
        "description": "Recurso no encontrado.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean", "example": false },
                "error": { "type": "string" }
              }
            },
            "example": { "success": false, "error": "Producto no encontrado" }
          }
        }
      },
      "InternalServerError": {
        "description": "Error interno del servidor.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean", "example": false },
                "error": { "type": "string" }
              }
            },
            "example": { "success": false, "error": "Error interno" }
          }
        }
      }
    },
    "schemas": {
      "TCG": {
        "type": "object",
        "description": "Juego de cartas coleccionables. El `_id` es un slug generado a partir del nombre.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Slug del TCG.",
            "example": "one-piece"
          },
          "name": { "type": "string", "example": "One Piece" },
          "description": { "type": "string" },
          "logo": {
            "type": "string",
            "description": "URL del logo del TCG."
          },
          "markets": {
            "type": "object",
            "properties": {
              "tcgplayer": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "example": "68" }
                }
              },
              "tcgmatch": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" }
                }
              }
            }
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Set": {
        "type": "object",
        "description": "Set/expansión dentro de un TCG. El `_id` se compone como `{tcg}-{slug}`.",
        "properties": {
          "_id": {
            "type": "string",
            "example": "riftbound-origins-proving-grounds"
          },
          "name": {
            "type": "string",
            "example": "Origins: Proving Grounds"
          },
          "slug": {
            "type": "string",
            "example": "origins-proving-grounds"
          },
          "tcg": {
            "type": "string",
            "description": "Slug del TCG al que pertenece (o documento completo al usar `populate=tcg`).",
            "example": "riftbound"
          },
          "serie": {
            "type": "string",
            "description": "ID de la serie a la que pertenece (opcional)."
          },
          "release_date": { "type": "string", "format": "date-time" },
          "code": {
            "type": "string",
            "description": "Código oficial del set (opcional).",
            "example": "OGN"
          },
          "logo": {
            "type": "string",
            "description": "URL del logo del set."
          },
          "markets": {
            "type": "object",
            "properties": {
              "tcgplayer": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "example": "24219" }
                }
              },
              "tcgmatch": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" }
                }
              }
            }
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Product": {
        "type": "object",
        "description": "Producto bajo el modelo unificado. Los campos marcados (Card), (Sealed) o (Accessory) solo aplican a ese tipo de producto.",
        "properties": {
          "_id": {
            "type": "integer",
            "description": "ID numérico autoincremental.",
            "example": 1024
          },
          "type": {
            "type": "string",
            "enum": ["card", "sealed", "accessory", "other"],
            "description": "Tipo de producto."
          },
          "name": { "type": "string", "example": "Monkey.D.Luffy" },
          "description": { "type": "string" },
          "tcg": {
            "type": "string",
            "description": "Slug del TCG (o documento completo con `populate`).",
            "example": "one-piece"
          },
          "serie": {
            "type": "string",
            "description": "ID de la serie (o documento completo con `populate`)."
          },
          "set": {
            "type": "string",
            "description": "ID del set (o documento completo con `populate`).",
            "example": "one-piece-pillars-of-strength"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "small": { "type": "string" },
                "medium": { "type": "string" },
                "large": { "type": "string" }
              }
            }
          },
          "dimensions": {
            "type": "object",
            "description": "Dimensiones físicas del producto.",
            "properties": {
              "unit": { "type": "string", "enum": ["cm", "mm", "in", "m"] },
              "height": { "type": "number", "minimum": 0 },
              "width": { "type": "number", "minimum": 0 },
              "length": { "type": "number", "minimum": 0 }
            }
          },
          "weight": {
            "type": "number",
            "minimum": 0,
            "description": "Peso en gramos."
          },
          "release_date": { "type": "string", "format": "date-time" },
          "markets": {
            "type": "object",
            "description": "Datos e IDs del producto en mercados externos.",
            "properties": {
              "tcgplayer": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "example": "453022" },
                  "url": { "type": "string" },
                  "prices": {
                    "type": "object",
                    "properties": {
                      "low": { "type": "number", "example": 0.15 },
                      "mid": { "type": "number", "example": 0.35 },
                      "high": { "type": "number", "example": 2.5 },
                      "market": { "type": "number", "example": 0.31 }
                    }
                  }
                }
              },
              "tcgmatch": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" },
                  "url": { "type": "string" },
                  "prices": {
                    "type": "object",
                    "properties": {
                      "low": { "type": "number", "example": 0.15 },
                      "mid": { "type": "number", "example": 0.35 },
                      "high": { "type": "number", "example": 2.5 },
                      "market": { "type": "number", "example": 0.31 }
                    }
                  }
                }
              }
            }
          },
          "code": {
            "type": "string",
            "description": "(Card) Código de la carta.",
            "example": "OP03-070"
          },
          "cardNumber": {
            "type": "string",
            "description": "(Card) Número de carta en el set.",
            "example": "070"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "(Card) Atributos dinámicos de la carta (Rarity, Color, etc.).",
            "example": {
              "Rarity": "R",
              "Color": "Purple",
              "Power": "7000"
            }
          },
          "sealed_type": {
            "type": "string",
            "description": "(Sealed) Subtipo de producto sellado.",
            "enum": [
              "booster_box",
              "booster_pack",
              "starter_deck",
              "theme_deck",
              "structure_deck",
              "blister",
              "tin",
              "collection_box",
              "elite_trainer_box",
              "bundle",
              "prerelease_kit",
              "other"
            ]
          },
          "status": {
            "type": "string",
            "description": "(Accessory) Estado del accesorio.",
            "enum": ["new", "used"]
          },
          "accesory_type": {
            "type": "string",
            "description": "(Accessory) Subtipo de accesorio.",
            "enum": [
              "deckbox",
              "double_deckbox",
              "playmat",
              "sleeve",
              "binder",
              "storage_box",
              "dice",
              "toploader",
              "bag",
              "other"
            ]
          },
          "brand": {
            "type": "string",
            "description": "(Accessory) ID de la marca (o documento completo con `populate`)."
          },
          "event": {
            "type": "string",
            "description": "(Accessory) ID del evento (o documento completo con `populate`)."
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "HistoryPrice": {
        "type": "object",
        "description": "Registro diario de precios de un producto en los mercados.",
        "properties": {
          "_id": { "type": "string" },
          "product": {
            "type": "string",
            "description": "ID del producto.",
            "example": "1024"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Día del registro (normalizado a medianoche)."
          },
          "markets": {
            "type": "object",
            "properties": {
              "tcgplayer": {
                "type": "object",
                "properties": {
                  "prices": {
                    "type": "object",
                    "properties": {
                      "low": { "type": "number", "example": 0.15 },
                      "mid": { "type": "number", "example": 0.35 },
                      "high": { "type": "number", "example": 2.5 },
                      "market": { "type": "number", "example": 0.31 }
                    }
                  }
                }
              },
              "tcgmatch": {
                "type": "object",
                "properties": {
                  "prices": {
                    "type": "object",
                    "properties": {
                      "low": { "type": "number", "example": 0.15 },
                      "mid": { "type": "number", "example": 0.35 },
                      "high": { "type": "number", "example": 2.5 },
                      "market": { "type": "number", "example": 0.31 }
                    }
                  }
                }
              }
            }
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
